html{
  background-color: aquamarine;
}
.area{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 3px solid black;
  max-width: 400px;
  margin: 1.25rem auto;
}
.area textarea{
  background-color: aquamarine;
  outline: none;
  width: 99%;
  resize: vertical;
  padding-left: 5px;
  padding-top: 5px;
}
#preview {
  display: flex;
  background-color: aqua;

  border: 50px;
  max-width: 800px;
  margin: 1.25rem auto;
  height: 100vh;
  text-align: left;
  border: 3px solid black;
  overflow-wrap: break-word;
}